            <div class="small-9 column">
                 <div class="dgtic-panel-content">Mostrar:
                    <select onchange="handleSubmitSearch();" name="rpp" id="id_rpp" style="width: inherit;">
                        <option value="5" {% if rpp == 5 %}selected{% endif %}>5</option>
                        <option value="10" {% if rpp == 10 %}selected{% endif %} >10</option>
                        <option value="15" {% if rpp == 15 %}selected{% endif %} >15</option>
                        <option value="20" {% if rpp == 20 %}selected{% endif %} >20</option>
                    </select>  registros
                </div>
            </div>


            <div class="small-3 column top-bar-right">
                  <ul class="menu">
                         <li><input onkeypress="handleSearchInput(event);" type="text" name="search" id="id_search" placeholder="Buscar" value="{{ search }}"/></li>
                         <li><button type="button" class="button" onclick="handleSearchInput(event)">Search</button></li>
                  </ul>
            </div>