
#logotipoDIF{
  float: left;
  width: 19%;
  height: 19%;
}

#encabezado{
  float: left;
  font-size: 33px;
}

#formulario{
  /*border:5px solid red;*/
  margin: auto;
  width: 400px;
}

#sep, #logotipoDIF{
  margin-top:20px;
}

td{
  text-align: center;
}

#img-medicamentos{
  float: left;
  width: 30%;
  height: 30%;
  border-radius: 12px;
}

#bienvenido{
  font-size: 50px;
  /**font-family: "Tw Cen MT";**/
  margin-top: 50px;
}

:root {
  background: #eee;
}

#line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-align: justify;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 80%;
  margin: auto;

  font-family: sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
}
/*
#line-clamp:hover {
  -webkit-line-clamp: 100;
  cursor: pointer;
}
*/

