{% extends "layout.html" %}

{% block contenido %}

        {% include 'templates/menu.html' %}

<div class="row">
    <h4 class="text-center">Nombre: {{ object.first_name }}djdjdjdj</h4>
    <p class="text-center" >Apellido: {{ object.last_name }}</p>
    <p class="text-center">Direccion: {{ object.home_address}}</p>
    <p class="text-center">Genero: {% if object.genero == '1' %} Masculino {%else%}Mujer {% endif %}</p>
    <p class="text-center">Nacionalidad: {{ object.nacionalidad.nombre }}</p>
    <p class="text-center">Facebook: <a href="{{ object.facebook }}">{{ object.facebook }} </a></p>
    <p class="text-center">Twitter: <a href="{{ object.twitter }}">{{ object.twitter }} </a></p>
    <p class="text-center"> <img style="width:200px; border-radius: 10px;"  src="/media/{{ object.photo }} "></p>

    <p class="text-center"> <a class="button warning" href="{% url 'blog-list' %}">Atras</a></p>

</div>

{% endblock %}
