
<div class="row">
    <div class="small-12 column">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><i class="fi-thumbnails"></i></li>
                    <li><a href="{% url 'blog-list' %}"><i class="fi-home"></i>Home</a></li>
                    <li><a href="{% url 'login' %}"><i class="fi-torsos-all-female"></i>Iniciar sesion</a></li>
                    <li><a href="{% url 'user-add' %}"><i class="fi-plus"></i>Registrarse</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
