
<div class="row">
    <div class="small-12 column">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text"  >MENU</li>
                    <li><a href="{% url 'persona-welcome' %}"><i class="fi-home"></i>Home</a></li>
                    <li><a href="{% url 'persona-list' %}"><i class="fi-torsos-all-female"></i>Personas</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fi-power"></i>Salir</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
